<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
   <div class="container">
      <h1>MTD</h1>
      <div class="appContainer">
         
      </div>
   </div>
</body>
</html>